/* configurações gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}


:root {
    --background-geral: #121214
    --cor-branca: #fff;
    --cor-laranja: #e08e22;
    --cor-header: #202024;
    --cor-verde-escuro: rgb(45, 90, 31);
    --cor-text: #ece2e2;
    --cor-text-azul: #36a9e1;
    
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
   
}
/* configurações gerais */

header{
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color:  #fdfeff;
    border-bottom: 2px solid;
    
   
}



header .logo{
    display: flex;
    align-items: center;
    font-family:  sans-serif;
    color: #0a0b0cef;
    font-size: 1rem;
    
    
}



header .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    
    
}

nav ul,
nav li{
    list-style: none;
   
    margin-right: 5px;
}

nav ul{
    display: flex;
   
    width: 25rem;
    justify-content: space-between;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family:  sans-serif;
    color: #0a0b0cef;
    text-transform: uppercase;
    align-items: center;
    

}

nav a:hover{
    color: rgb(182, 182, 182);
    
}

.socialMidia {
    width: 12rem;
    display: flex;
    
}
.socialMidia ul {
    display: flex;
    background-color: rgb(240, 235, 235);
    width: 100%;
    text-decoration: none;
    gap: 10px;
    justify-content: space-between;
    list-style: none;
}
.socialMidia ul li {
    cursor: pointer;
}




#banner {
    display: flex;
    justify-content: center;
    
    

    height: 850px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(204, 204, 204, 0.027);
    
}

.textBanner{
    width: 50%;
    
    height: 400px;
}

.textBanner h1{
    color: #b159ac;
    font-size: 60px;
    text-shadow: 1px 2px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 390px;
    
    
}

.textBanner h2{
    color: #8257e5;
    font-size: 21px;
   
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 80%;
}
.textBanner span{
    color: rgb(110, 92, 92);
}

.headline {
   
    width: 30em;
    height: 30em;
}
.headline img {
    width: 100%;
    height: 100%;
}


.banner_options{
    height: 210px;
    
    
}

/* quemsoueu */
.quemsoueu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #8257e5;
    width: 100%;
    margin: 10px;
}

.quemsoueu .name{
    width: 100%;
    /* background-color: red; */
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.quemsoueu .name h2 {

}

.quemsoueu .name img {
    width: 15rem;
    border-radius: 50%;
}




/* section sidebar */
#geral{
    display: flex;
    justify-content: center;
    background-color: #fafafaf3;
    

}

#geral section{
    flex: 2;
    
}

#geral aside{
    flex: 1;
    
}

.news {
    width: 100%;
    height: 100%;
    
    margin: 75px 0 10px;
}
.news img {
    width: 100%;
    height: 250px;
}




.widget_title{
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.widget_title_text{
    color: #8257e5;;
    font-size: 21px;
    font-weight: bold;
    
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: var(--cor-text-azul);
    margin-top: 10px;
}






.caixas{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 10px;
}
.caixas1{
    width: 155px;
    height: 155px;
    margin-bottom: 15px;
    background-color: #551d6b;
}

.widget_body h4{
    text-align: justify;
    color: rgb(73, 55, 55);
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 50px;
    font-family: serif;
}


/* contato */
.contato{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(12, 9, 9, 0.342);
    margin-bottom: 10px;
    /* background-color: red; */
    
}

.contato img{
    margin-right: 5px;
    text-decoration: none;
    
}

.contato a{
    text-decoration: none;
    color: rgb(73, 55, 55);
}

.horario{
    color: rgb(75, 54, 54);
}



/* dando display flex nas sections imagens */
.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /*dá liberdade para quebrar linha*/
}

/* news data */

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
    
}

article .news_posted_at{
    background-color: rgb(64, 7, 75);
    color: #e4d7e3;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;

}
 
article .news_comments{
    background-color: #39aae1;
    color: #e4d7e3;
    font-size: 12px;
    padding: 10px;
    
}

article .news_thumnail{
    margin-top: 30px ;
    width: 100%;
    height: 450px;
    
<<<<<<< Updated upstream
   
=======
    
>>>>>>> Stashed changes
    
}




article .news_thumnail img{
    width: 100%;
    height: 100%;
    
    
    
}


article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #8257e5;
    font-size: 23px;
}


article .news_resume{
    color: rgba(34, 17, 17, 0.582);
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: justify;
}


.anuncio {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}





footer{
    display: flex;
    justify-content: center;
    background-color: rgb(10, 9, 9);
   
}

.footer_menu{
    display: flex;
    /* flex: 1; */
}

.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm_1{
   background-color: #202f36b7;
}

.fm_2{
    background-color: #2d3f47b7;
    
}

.fm_3{
    background-color: #551d6b;
}

.footer_area{
    display: flex;
    
}

.footer_areaitem{
    flex: 1;
    color: #FFFFFF;
}

.flexColumn{
    flex-direction: column;
}

footer .widget_title_text {
    color: #fff;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
   
    margin-top: 30px;

}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;
}

.mm_line{
    height: 3px;
    background-color: rgb(61, 156, 52);
}

/* responsividade */
@media (max-width:734px){
    .socialMidia{
        display: none;
        
    }
    .banner_headline{
        
        width: 90vw;
        overflow: hidden;
        margin: auto;
        margin-top: 50px;
        flex-direction: column;
    }
    .textBanner{
        
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .banner_headline h1{
        font-size: 3rem;
       
    }
    .banner_headline h2{
        font-size: 1rem;
        max-width: 100%;
        height: 100px;
        
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .headline{
        display: flex;
        justify-content: center;
        
    }
    .headline img {
        width: 20rem;
        

    }

    .container{
        flex-direction: column;
    }

    #geral section,
    #geral aside{
        margin: 15px;
        
       
    }
    .caixas{
        flex-direction: column;
        width: 100%;

    }
    .caixas1{
        width: 80%;
    }

    /* FOOTER */
    .footer_menu{
        flex-direction: column;
        width: 100%;
    }

    .footer_area{
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    /* header ao normal */
    header .container {
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 20px;
        
        
    }

    header{
       
        height: auto; /*aumenta o tamanho do header*/
       
        
    }
    
    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}

@media (max-width: 350px) {
    #geral section,
    #geral aside{
        margin: 20px;
        
       
    }
    article .news_thumnail{
        margin-top: 30px;
        width: 100%;
        height: 400px;
        
<<<<<<< Updated upstream
        
=======
       
>>>>>>> Stashed changes
        
    }
    article .news_thumnail img{
        margin-top: 30px;
<<<<<<< Updated upstream
        width: 90%;
        height: 80%;
        margin: 10px;
        
=======
        width: 100%;
        height: 100%;
        margin: 10px;
       
        
    }
    .headline img {
        width: 15rem;
    }
    .news_resume{
        padding: 10px;
>>>>>>> Stashed changes
        
    }

    
    
}